<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog&Cat - About us</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/about-us.css">
</head>
<body>
    <div class="header">
        <a class="main-page-a" href="main.html"><h1 class="main-page-h1">Main</h1></a>
        <a class="dog-or-cat" href="dogOrCat.html"><h1 class="dog-or-cat-h1">Dog or Cat</h1></a>
        <a class="about-us" href="aboutUs.html"><h1 class="about-us-h1">About us</h1></a>
    </div>
    <div class="about_us_text">
        <table>
            <section class="section0 bg-for-text ">Hello! We are an animal shelter in Kyiv. If you are looking for a true friend - visit us!</section>
            <tr>
                <td>
                    <img class="for_image2" src="/images/prytulok.jpg">
                </td>
                <td>
                    <section class="section2 bg-for-text">Our shelter is the largest shelter in Ukraine.</section>
                </td>
            </tr>
            <tr>
                <td>
                    <section class="section3 bg-for-text">Currently, about 3000 dogs and cats live in the shelter.
                    </section>
                </td>
                <td>
                    <img class="for_image1" src="/images/prytulok2.jpeg">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="for_image2" src="/images/donat.jpg">
                </td>
                <td>
                    <div>
                        <section class="section1 bg-for-text">You can help us and support us financially.</section>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>