<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog&Cat - Dog vs Cat</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/cat-or-dog.css">
</head>
<body>
    <div class="header">
        <a class="main-page-a" href="main.html"><h1 class="main-page-h1">Main</h1></a>
        <a class="dog-or-cat" href="dogOrCat.html"><h1 class="dog-or-cat-h1">Dog or Cat</h1></a>
        <a class="about-us" href="aboutUs.html"><h1 class="about-us-h1">About us</h1></a>
    </div>

    <div class="about_us_text">

        <br><div class="wybierz-pakiet naglowek">We will help you decide</div>

        <div class="container12">
            <img src=/images/cat.jpg alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">
                    <h3>The Joys of Owning a Cat</h3>
                    <br><br><div>Cats are low maintenance.</div>
                    <br><div>They’re quiet.</div>
                    <br><div>They’re independent.</div>
                    <br><div>They keep your house pest-free.</div>
                    <br><div>They have long life spans.</div>
                    <br><br>
                </div>
            </div>
        </div>
        <h1 class="versus">VS</h1>
        <div class="mouse-on-picture">move your mouse over</div>
        <div class="mouse-on-picture">the picture</div>

        <div class="container123">
            <img src=/images/dog.jpg alt="Avatar" class="image1">
            <div class="overlay1">
                <div class="text">
                    <h3>The Joys of Owning a Dog</h3>
                    <br><br><div>Dogs help you stay active.</div>
                    <br><div>Dogs can help reduce risk of heart attack and heart disease</div>
                    <br><div>Dogs can help fight loneliness.</div>
                    <br><div>Dogs can help lower stress levels.</div>
                    <br><div>Dogs can help reduce triglyceride levels.</div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>